/* Structre CSS */

/* First-section */
.first-section {
    height: 100vh;
    width: 100%;
}

.first-section-content {
    display: flex;
    flex-direction: row-reverse;
}

.home-content-wrapper {
    width: 50%;
    text-align: right;
    padding-top: 3%;
}

/* -- Titles CSS*/
.home-title-wrapper {
    padding-right: 15%;
}

.home-title {
    direction: rtl;
    color: white;
    text-align: right;

    font-size: 350%;
    line-height: 115%;
}

/* -- Buttons CSS */
.home-button-wrapper {
    padding-right: 15%;
    padding-top: 5%;
}

.home-button {
    background: linear-gradient(90deg, #983ff6 29%, #f73c6b 100%);
    border-radius: 26px 26px 26px 26px;
    font-size: 100%;
    font-weight: 700;
    padding: 3%;
    border: transparent;
    cursor: pointer;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    font-size: 100%;
}
  
.home-button{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

/* .home-button:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 11px * 30%;
    left: 20px;
    transition: 0.5s;
} */

/* .home-button:hover{
    padding-right: 8px;
    padding-left: 24px;
} */

.home-button:hover:after {
    opacity: 1;
    left: 10px;
}

/* -- Images CSS*/
.logo-wrapper {
    width: 20%;
}       

.main-pic-wrapper {
    width: 30%;
    margin: auto;
}

.logo {
    width: -webkit-fill-available;
    padding-top: 15%;
    padding-left: 5%;
    padding-bottom: 20%;
}

.main-pic {
    width: -webkit-fill-available;
    border-radius: 6%;
    box-shadow: 14px 22px 120px 32px rgba(31,65,187,0.61);
}


/* Second-section */
.second-section {
    height: 100vh;
    text-align: center;
    color: white;
    direction: rtl; 
    width: 100%;
}

.second-section-content {
    padding: 10% 15% 0% 15%;
    font-size: 120%;
}

.second-section-text {
    font-size: 300%;
    width: 85%;
    margin: auto;
}

.second-section-text-logo {
    background-image: linear-gradient(45deg, #f401f8, #5a80ff);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 120%;
}

.second-section-sub-text {
    padding-top: 4%;
    font-size: 450%;
    font-weight: 700;
    width: 80%;
    margin: auto;
}

.list {
    font-size: 135%;
    font-weight: 700;
    animation: color-change 1s infinite;
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
@keyframes color-change {
    0% { 
        background-image: linear-gradient(45deg, #f401f8, #5a80ff);
    }
    50% { 
        background-image: linear-gradient(45deg, #2f5ef9, #fb00ff);
    }
    100% {
        background-image: linear-gradient(45deg, #f401f8, #5a80ff);
    }
}


/* Third-section & Fourth-Section & Fifth-Section*/
.step-section {
    height: 100vh;
    direction: rtl;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.step-section-content {
    display: flex;
    flex-direction: row-reverse;
    height: 40vh;
    align-items: center;
    padding-top: 5%;
}

.step-content{
    padding-right: 10%;
    width: 80%;
}

/* -- Images CSS*/
.step-img-wrapper {
    width: 15%;
    padding-left: 5%;
}

.step-img {
    width: -webkit-fill-available;
}


/* -- Titles */
.step-title {
    background-image: linear-gradient(45deg, #f401f8, #5a80ff);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 250%;
}

.step-describtion {
    color: white;
    padding-top: 3%;
    font-size: 200%;
    font-weight: 700;
    width: 60%;
}

/* Last-section */
.last-section {
    height: 100vh;
}

.last-section-wrapper {
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    padding: 12% 10% 0% 10%;
}

/* -- Images & icons*/
.contact-logo-wrapper {
    width: 50%;
    direction: rtl;
}

.contact-logo-wrapper-wrapper  {
    width: 35%;
    margin-top: 3%;
    margin-right: 5%;

}

.contact-logo  {
    width: -webkit-fill-available;
}

.icons {
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-top: 25%;
}

.icon-link {
    padding: 0% 0% 0% 20%;
}

.icon {
    width: 25px;
    height: 25px;
}

/* -- Texts */
.contact-text-wrapper {
    color: white;
    width: 35%;
    font-weight: 600;
    padding-left: 5%;
    direction: rtl;
}

.contact-title {
    background-image: linear-gradient(45deg, #f401f8, #5a80ff);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 300%;
    margin-top: 0;
    margin-bottom: 10%;
}


/* Sixth-Section */
.sixth-section{
    height: 100vh;
    text-align: center;
    color: white;
}

.sixth-section-content {
    padding-top: 10%;
}

.why-us-title {
    width: 70%;
    font-size: 180%;
    font-weight: 700;  
    margin: auto;
    padding-bottom: 5%;
}

/* -- List css */
.rolldown-list {
    text-align: left;
    padding: 0;
    margin: auto;
    width: 40%;
    text-align: center;
}

.rolldown-list li {
    padding: .8em;
    margin-bottom: 0.3em;
    display: block;
    list-style: none;
    text-transform: uppercase;
    font-size: 140%;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 0 3px 3px -1px rgb(249 248 249 / 48%);
}

.rolldown-list li {
    visibility: hidden;
    animation: rolldown 1.5s 1;
    transform-origin: 50% 0;
    animation-fill-mode: forwards;
}

.list-cell {
    margin: 0;
    animation: color-change .7s infinite;
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.rolldown-list li:nth-child(2n) {
    background-color: #ffffff30;
}

.rolldown-list li:nth-child(2n+1) {
    background-color: #ffffff0f;
}

.none {
    display: none;
}
/* #myList {
    position: absolute;
    width: 50%;
    left: 50%;
    margin-left: -25%;
} */

@keyframes rolldown {
    0% {
        visibility: visible;
        transform: rotateX(180deg) perspective(500px);
        opacity: .2;
   }
    70% {
        visibility: visible;
        transform: rotateX(-20deg);
        opacity: .6;
   }
    100% {
        visibility: visible;
        transform: rotateX(0deg);
        opacity: 1;
   }
}
